<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Dev Plan</title>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
<h1>Launchpad</h1>

<form method="POST" action="{% url 'career_path_suggestion' %}">


    {% csrf_token %}
    <input type="submit" value="Get Career Path Suggestion">

</form>

{{ career1 }}
<br>
{{ career2 }}
<br>
{{ career3 }}
<br>
{{ career4 }}
<br>
{{ career5 }}



</body>
</html>
{% endblock %}
