<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Dev Plan</title>
    <head>
        <script src="path/to/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%  static 'styles/launchpad.css' %}">
</head>

<body>
<h1>Launchpad</h1>

<form method="POST" action="{% url 'career_path_suggestion' %}">


    {% csrf_token %}
    <input type="submit" value="Get Career Path Suggestion">

</form>
{% if isChosen %}

<div class="chosenCareerField">

    Chosen Career Field: {{ chosen }}

</div>

{% elif career1 %}
<div class="careerchoice" name="career1">
    {{ career1 }}
    <button class="add-to-cart">
        Select Career Path
    </button>
</div>

<br>

<div class="careerchoice" name="career2">
    {{ career2 }}
    <button class="add-to-cart">
        Select Career Path
    </button>
</div>

<br>

<div class="careerchoice" name="career3">
    {{ career3 }}
    <button class="add-to-cart">
        Select Career Path
    </button>
</div>

<br>

<div class="careerchoice" name="career4">
    {{ career4 }}
    <button class="add-to-cart">
        Select Career Path
    </button>
</div>

<br>

<div class="careerchoice" name="career5">
    {{ career5 }}
    <button class="add-to-cart">
        Select Career Path
    </button>
</div>




{% endif %}

<div class = 'divider'>
    <hr>
</div>

<div class="application-container">
    <div class="card">
  <div class="cardcontent">
    <p class="heading"> Ceres One Essay Assist
    </p><p class="para">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
      laboriosam at voluptas minus culpa deserunt delectus sapiente
      inventore pariatur
    </p>
    <button class="btn">Use</button>
  </div>
</div>
</div>



</body>

<script>
    $(document).ready(function() {
    // Add to cart button click
    $(".add-to-cart").click(function() {
        var careerName = $(this)
    .parent()
    .text()
    .trim()
    .split('.')[1]
    .trim()
    .split('-')[0]
    .trim()



        console.log(careerName);

        var data = {
            career: careerName
        };




        // Include the CSRF token in the request headers
        $.ajaxSetup({
            headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
        });

        $.ajax({
            type: "POST",
            url: "/addCareerPath/", // Update with the correct URL
            data: data,
            success: function() {

                //development_planning
                window.location.href = "/development_planning/";
            }
        });
    });
});

</script>

</html>
{% endblock %}
