{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'styles/profile.css' %}">
</head>
{% block content %}
<body>
{% if userExtracurriculars %}

    <h2> Current Profile </h2>
    <p> Username: {{ user.username }} </p>

    <h3> Inputs </h3>
    <p> Extracurriculars: {{ userExtracurriculars }} </p>
    <p> Introverted/Extroverted: {{ userIntrovertedExtroverted }} </p>
    <p> Interests: {{ userInterests }} </p>
    <p> Who You Are and What You Do: {{ userWhoYouAre }} </p>
    <p> County in California: {{ userCountyInCalifornia }} </p>
    <p> Future Career Aspirations: {{ userFutureCareerAspirations }} </p>



    <a class="submituser" href="/workpreferences">
        Submit User Information
    </a>





{% else %}

    <a class="submit-info" href="/workpreferences">
        Submit User Information
    </a>

{% endif %}
</body>
{% endblock %}
</html>