body {
    background-color: #000000;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    font-size: 25px;
    height: 90vh;
    padding: 4rem;

}
.line {
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid #ccc;
  }

.submituser {
    margin-top: 500px;
    font-size: 25px;
}
  

