body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* .submit-info {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  } */

  .submit-info {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .submit-info:hover {
    background-color: #45a049;
  }
  
  .submit-info:focus {
    outline: none;
  }
  
  .submit-info:active {
    background-color: #3e8e41;
  }

  
  